<div id="<%= dom_id user_transaction %>">
  <p>
    <strong>Name:</strong>
    <%= user_transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= user_transaction.amount %>
  </p>

</div>
