<h1>Editing user transaction</h1>

<%= render "form", user_transaction: @user_transaction %>

<br>

<div>
  <%= link_to "Show this user transaction", @user_transaction %> |
  <%= link_to "Back to user transactions", user_transactions_path %>
</div>
