<p style="color: green"><%= notice %></p>

<h1>User transactions</h1>

<div id="user_transactions">
  <% @user_transactions.each do |user_transaction| %>
    <%= render user_transaction %>
    <p>
      <%= link_to "Show this user transaction", user_transaction %>
    </p>
  <% end %>
</div>

<%= link_to "New user transaction", new_user_transaction_path %>
