<section class = 'main-section'>
  <h1 class = "home-header">Budget App</h1>
  <%= link_to new_user_session_path do %>
    <h3 class = "home-btn login">LOG IN</h3>
  <% end %>

  <%= link_to new_user_registration_path do %>
    <h3 class = "home-btn register">SIGN UP</h3>
  <% end %>
</section>